<div class="container px-2 flex flex-row w-full gap-x-3">
  <span class="w-2/12">
    <span
      class="w-10 h-10 bg-yellow-100 flex flex-row justify-center items-center rounded-full transition-transform transform hover:scale-105 cursor-pointer"
    >
      <span class="material-symbols-outlined text-yellow-500"> map </span>
    </span>
  </span>
  <span class="w-10/12 flex flex-col">
    <p class="text-sm font-medium flex flex-col">
      <span
        >John Doe
        <svg
          viewBox="0 0 2 2"
          class="mx-2 inline h-0.5 w-0.5 fill-current"
          aria-hidden="true"
        >
          <circle cx="1" cy="1" r="1" />
        </svg>
        Harare
      </span>
      <span class="text-xs font-normal"> 123 Main Street, Harare, </span>
    </p>
    <p></p>
  </span>
</div>
<p>recent-searched-title works!</p>
