<div
  class="container flex flex-col w-full h-full border-[1px] border-gray-200 shadow-md bg-gray-900 text-white"
>
  <div class="px-5 my-5">
    <div class="flex flex-1 justify-end">
      <button
        (click)="closeDialog($event)"
        mat-button
        mat-dialog-close
        type="button"
        class="-m-3 p-3 focus-visible:outline-offset-[-4px]"
      >
        <span class="sr-only">Dismiss</span>
        <svg
          class="h-5 w-5 text-gray-900"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"
          />
        </svg>
      </button>
    </div>
  </div>
  <mat-dialog-content class="px-5">
    <div class="p-2 flex flex-row justify-center items-center">
      <div class="container px-10 w-3/4 h-3/4 grid grid-col grid-cols-3 gap-10">
        <section class="col-span-1 flex flex-col">
          <a
            [routerLinkActive]="'menu-panel-active'"
            routerLink="/dashboard/features/register-property"
            (click)="closeDialog($event)"
            class="font-bold text-lg cursor-pointer hover:text-green-500"
            >Register Property</a
          >
          <p class="text-sm text-justify">
            Officially recording ownership rights
          </p>
          <!-- <a
            [routerLinkActive]="'menu-panel-active'"
            routerLink="/dashboard/features/smart-contracts"
            (click)="closeDialog($event)"
            class="font-bold text-lg cursor-pointer hover:text-green-500"
            >Smart Contracts</a
          >
          <ul>
            <li class="py-1">
              <a class="cursor-pointer hover:text-green-500"
                >Create new contract <span aria-hidden="true">&rarr;</span></a
              >
            </li>
            <li class="py-1">
              <a class="cursor-pointer hover:text-green-500"
                >Review<span aria-hidden="true">&rarr;</span></a
              >
            </li>
          </ul> -->
          <a
            [routerLinkActive]="'menu-panel-active'"
            routerLink="/dashboard/features/conflict-resolution"
            (click)="closeDialog($event)"
            class="font-bold text-lg cursor-pointer hover:text-green-500 mt-5"
            >Conflict Relosution</a
          >
        </section>
        <section class="col-span-1">
          <a
            class="font-bold text-lg cursor-pointer hover:text-green-500"
            [routerLinkActive]="'menu-panel-active'"
            routerLink="/dashboard/features/advanced-search"
            (click)="closeDialog($event)"
            >Search Deeds</a
          >
          <p class="text-sm text-justify">Advanced Title Deed search</p>
          <a
            class="font-bold text-lg cursor-pointer hover:text-green-500 mt-5"
            [routerLinkActive]="'menu-panel-active'"
            routerLink="/dashboard/features/transactions"
            (click)="closeDialog($event)"
            >Transactions</a
          >
        </section>
        <section class="col-span-1">
          <a
            [routerLinkActive]="'menu-panel-active'"
            routerLink="/dashboard/features/transfer-property"
            (click)="closeDialog($event)"
            class="font-bold text-lg cursor-pointer hover:text-green-500"
            >Transfer Property</a
          >
          <p class="text-sm text-justify">
            Conveying ownership or interest in a property from one party to
            another
          </p>
          <a
            [routerLinkActive]="'menu-panel-active'"
            routerLink="/dashboard/features/verification-validation"
            (click)="closeDialog($event)"
            class="font-bold text-lg cursor-pointer hover:text-green-500"
            >Validation & Verification</a
          >
          <p class="text-sm">
            Validating and verifying the authenticity, legality, and accuracy of
            property-related documents, information, or transactions.
          </p>
        </section>
      </div>
    </div>
  </mat-dialog-content>
</div>
