<div class="w-full">
  <form #formOne="ngForm" (ngSubmit)="handleFormOne(formOne)">
    <div class="border-b border-gray-900/10 pb-12">
      <p class="text-base font-semibold leading-7 text-gray-900">
        Property Information
      </p>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 mb-20">
        <div class="sm:col-span-3">
          <label
            for="property"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Select Property
            <span class="text-xs font-normal italic"
              >*(Select the property from a list of your properties)</span
            ></label
          >
          <div class="mt-2">
            <select
              id="property"
              name="property"
              ngModel
              #property="ngModel"
              [(ngModel)]="fieldSets$.property"
              class="block w-full rounded-sm border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
            >
              <option
                *ngFor="let property of availableProperties"
                value="{{ property.streetAddress }}"
              >
                {{ property.streetAddress }}
              </option>
            </select>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label
            for="transferType"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Type of Transfer
            <span class="text-xs font-normal italic"
              >*(Select the type of transfer, eg sale , gift, inheritance
              etc)</span
            ></label
          >
          <div class="mt-2">
            <select
              id="transferType"
              name="transferType"
              class="block w-full rounded-sm border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
              #transferType="ngModel"
              ngModel
              [(ngModel)]="fieldSets$.transferType"
            >
              <option>Sale</option>
              <option>Gift</option>
              <option>Inheritance</option>
              <option>Conflict resolution</option>
              <option>Trade off</option>
            </select>
          </div>
        </div>

        <div class="col-span-5">
          <div class="mt-6 flex items-center justify-end gap-x-6">
            <button
              routerLink="/dashboard/overview"
              type="button"
              class="text-sm font-semibold leading-6 text-yellow-600"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="rounded-sm w-40 bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
