<div class="w-full">
  <div class="border-b border-gray-900/10 pb-12">
    <h2 class="text-base font-semibold leading-7 text-gray-900">
      Basic Information
    </h2>
    <p class="mt-1 text-sm leading-6 text-gray-900 italic">
      *Property address (street address, city, state, zip code) GPS coordinates
      (latitude and longitude) <br />
      Legal description (lot number, block number, subdivision name)
      <br />Property type (residential, commercial, agricultural, etc.) Land
      area/size (in square meters or acres).
    </p>

    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="col-span-5">
        <label
          for="street-address"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Street address
          <span class="text-xs font-normal italic">
            *(Provide the complete street address, eg. street, house number,
            town)
          </span></label
        >
        <div class="mt-2">
          <textarea
            id="about"
            name="about"
            rows="2"
            class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          ></textarea>
        </div>
      </div>

      <div class="sm:col-span-3">
        <label
          for="country"
          class="block text-sm font-medium leading-6 text-gray-900"
          >City</label
        >
        <div class="mt-2">
          <select
            id="country"
            name="country"
            autocomplete="country-name"
            class="block w-full rounded-sm border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
          >
            <option>Mutare</option>
            <option>Harare</option>
            <option>Marondera</option>
          </select>
        </div>
      </div>

      <div class="sm:col-span-2">
        <label
          for="last-name"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Zip code</label
        >
        <div class="mt-2">
          <input
            type="text"
            name="last-name"
            id="last-name"
            autocomplete="family-name"
            class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div class="sm:col-span-2">
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Longitude</label
        >
        <div class="mt-2">
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div class="sm:col-span-2">
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Latitude</label
        >
        <div class="mt-2">
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div class="sm:col-span-5">
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Land area/size
          <span class="text-xs font-normal italic"
            >*(Specify the land area or size of the property in either square
            meters or acres eg. <b>200m²</b>)</span
          ></label
        >
        <div class="mt-2">
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div class="sm:col-span-4">
        <label
          for="country"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Property type
          <span class="text-xs font-normal italic"
            >*(Choose the appropriate property type from the provided
            options)</span
          ></label
        >
        <div class="mt-2">
          <select
            id="country"
            name="country"
            autocomplete="country-name"
            class="block w-full rounded-sm border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
          >
            <option>Family</option>
            <option>Commercial</option>
            <option>Government</option>
          </select>
        </div>
      </div>

      <div class="col-span-5">
        <label
          for="about"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Legal description
          <span class="text-xs font-normal italic"
            >*(lot number, block number, subdivision name)</span
          >
        </label>
        <div class="mt-2">
          <textarea
            id="about"
            name="about"
            rows="3"
            class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          ></textarea>
        </div>
        <!-- <p class="mt-3 text-sm leading-6 text-gray-600">
          Write a few sentences about yourself.
        </p> -->
      </div>
      <div class="col-span-5">
        <div class="mt-6 flex items-center justify-end gap-x-6">
          <button
            type="button"
            class="text-sm font-semibold leading-6 text-yellow-600"
          >
            Cancel
          </button>
          <button
            routerLink="/dashboard/features/register-property/ownership-details"
            class="rounded-sm w-40 bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
