<div class="relative w-full container px-2 min-h-screen bg-slate-100">
  <div class="container flex flex-row justify-center w-full min-h-screen">
    <div class="isolate bg-white py-10 w-2/5 border-2 border-gray-200">
      <div class="mx-auto max-w-5xl text-center">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Register your land title
        </h2>
      </div>
      <form action="#" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
          <div class="sm:col-span-2">
            <label
              for="company"
              class="block text-sm font-semibold leading-6 text-gray-900"
              >Property ID</label
            >
            <div class="mt-2.5">
              <input
                type="text"
                name="company"
                id="company"
                autocomplete="organization"
                placeholder="Enter property ID"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>

          <div class="sm:col-span-2">
            <label
              for="country"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Property Type</label
            >
            <div class="mt-2">
              <select
                id="propType"
                name="propType"
                autocomplete="propType"
                class="px-2 block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2"
              >
                <option *ngFor="let type of propertyTypes">{{ type }}</option>
              </select>
            </div>
          </div>
          <div class="sm:col-span-2">
            <label
              for="email"
              class="block text-sm font-semibold leading-6 text-gray-900"
              >Property Address</label
            >
            <div class="mt-2.5">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                placeholder="Enter property address"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="sm:col-span-2">
            <label
              for="email"
              class="block text-sm font-semibold leading-6 text-gray-900"
              >Property Size(m²)</label
            >
            <div class="mt-2.5">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                placeholder="Enter property size in m²"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div>
            <label
              for="first-name"
              class="block text-sm font-semibold leading-6 text-gray-900"
              >Latitude</label
            >
            <div class="mt-2.5">
              <input
                type="text"
                name="first-name"
                id="first-name"
                autocomplete="given-name"
                placeholder="Enter latitude"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div>
            <label
              for="last-name"
              class="block text-sm font-semibold leading-6 text-gray-900"
              >Longitude</label
            >
            <div class="mt-2.5">
              <input
                type="text"
                name="last-name"
                id="last-name"
                autocomplete="family-name"
                placeholder="Enter longitude"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>

          <div class="flex flex-col gap-x-4 sm:col-span-2">
            <label
              for="email"
              class="block text-base font-semibold leading-6 text-gray-900"
              >Upload documents</label
            >

            <section class="w-full flex flex-row justify-between py-2 text-sm">
              <label for="">Property Deed</label>
              <div class="relative">
                <input
                  type="file"
                  class="opacity-0 absolute inset-0 w-full h-full cursor-pointer"
                  id="customFile"
                />
                <label
                  for="customFile"
                  class="cursor-pointer inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
                >
                  <span class="text-gray-700" id="fileLabel">Upload</span>
                </label>
              </div>
            </section>
            <section class="w-full flex flex-row justify-between py-2 text-sm">
              <label for="">Property Photo</label>
              <div class="relative">
                <input
                  type="file"
                  class="opacity-0 absolute inset-0 w-full h-full cursor-pointer"
                  id="customFile"
                />
                <label
                  for="customFile"
                  class="cursor-pointer inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
                >
                  <span class="text-gray-700" id="fileLabel">Upload</span>
                </label>
              </div>
            </section>
            <section class="w-full flex flex-row justify-between py-2 text-sm">
              <label for="">Property Survey</label>
              <div class="relative">
                <input
                  type="file"
                  class="opacity-0 absolute inset-0 w-full h-full cursor-pointer"
                  id="customFile"
                />
                <label
                  for="customFile"
                  class="cursor-pointer inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
                >
                  <span class="text-gray-700" id="fileLabel">Upload</span>
                </label>
              </div>
            </section>
          </div>

          <div class="flex flex-col gap-x-4 sm:col-span-2">
            <label
              for="email"
              class="block text-base font-semibold leading-6 text-gray-900"
              >Owner's Information</label
            >
          </div>
          <div class="sm:col-span-2">
            <label
              for="email"
              class="block text-sm font-semibold leading-6 text-gray-900"
              >First Name</label
            >
            <div class="mt-2.5">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                placeholder="Enter first name"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="sm:col-span-2">
            <label
              for="email"
              class="block text-sm font-semibold leading-6 text-gray-900"
              >Last Name</label
            >
            <div class="mt-2.5">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                placeholder="Enter last name"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="sm:col-span-2">
            <label
              for="email"
              class="block text-sm font-semibold leading-6 text-gray-900"
            >
              Email</label
            >
            <div class="mt-2.5">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                placeholder="Enter email"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="sm:col-span-2">
            <label
              for="email"
              class="block text-sm font-semibold leading-6 text-gray-900"
            >
              Phone Number</label
            >
            <div class="mt-2.5">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                placeholder="Enter phone number"
                class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>

          <div class="flex gap-x-4 sm:col-span-2">
            <div class="flex h-6 items-center">
              <div class="flex gap-x-4 sm:col-span-2">
                <div class="flex h-6 items-center">
                  <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
                  <button
                    type="button"
                    class="bg-gray-200 flex w-8 flex-none cursor-pointer rounded-full p-px ring-1 ring-inset ring-gray-900/5 transition-colors duration-200 ease-in-out focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
                    role="switch"
                    aria-checked="false"
                    aria-labelledby="switch-1-label"
                  >
                    <span class="sr-only">Agree to policies</span>
                    <!-- Enabled: "translate-x-3.5", Not Enabled: "translate-x-0" -->
                    <span
                      aria-hidden="true"
                      class="translate-x-0 h-4 w-4 transform rounded-full bg-white shadow-sm ring-1 ring-gray-900/5 transition duration-200 ease-in-out"
                    ></span>
                  </button>
                </div>
              </div>
            </div>
            <label class="text-sm leading-6 text-gray-600" id="switch-1-label">
              By selecting this, you agree to our
              <a href="#" class="font-semibold text-green-600"
                >privacy & policy</a
              >.
            </label>
          </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
          <button
            (click)="goBack()"
            type="button"
            class="rounded-md px-6 py-2 text-sm bg-gray-200 font-semibold leading-6 text-gray-900"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="rounded-md bg-blue-600 px-6 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
