<div class="w-full">
  <form #formTwo="ngForm" (ngSubmit)="handleFormTwo(formTwo)">
    <div class="border-b border-gray-900/10 pb-12">
      <h2 class="text-base font-semibold leading-7 text-gray-900">
        Parties Invoived
      </h2>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="col-span-3">
          <label
            for="firstParty"
            class="block text-sm font-medium leading-6 text-gray-900"
            >First Party
            <span class="text-xs font-normal italic">
              *(Account name or username of first party)
            </span></label
          >
          <div class="mt-2">
            <input
              type="text"
              name="firstParty"
              id="firstParty"
              #firstParty="ngModel"
              ngModel
              [(ngModel)]="fieldSets$.firstParty"
              class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div class="col-span-3">
          <label
            for="partyAtoProperty"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Relationship to property
            <span class="text-xs font-normal italic">
              *(Relations with property (e.g., owner))
            </span></label
          >
          <div class="mt-2">
            <select
              id="partyAtoProperty"
              name="partyAtoProperty"
              #partyAtoProperty="ngModel"
              ngModel
              [(ngModel)]="fieldSets$.partyAtoProperty"
              class="block w-full rounded-sm border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:max-w-xs sm:text-sm sm:leading-6"
            >
              <option>Owner</option>
              <option>Tenant</option>
              <option>Prospective buyer</option>
            </select>
          </div>
        </div>
        <div class="col-span-3">
          <label
            for="secondParty"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Second Party
            <span class="text-xs font-normal italic">
              *(Account name or username of second part)
            </span></label
          >
          <div class="mt-2">
            <input
              type="text"
              name="secondParty"
              id="secondParty"
              #secondParty="ngModel"
              ngModel
              [(ngModel)]="fieldSets$.secondParty"
              class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="col-span-3">
          <label
            for="partyBtoProperty"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Relationship to property
            <span class="text-xs font-normal italic">
              *(Relations with property (e.g., owner, ))
            </span></label
          >
          <div class="mt-2">
            <select
              id="partyBtoProperty"
              name="partyBtoProperty"
              #partyBtoProperty="ngModel"
              ngModel
              [(ngModel)]="fieldSets$.partyBtoProperty"
              class="block w-full rounded-sm border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:max-w-xs sm:text-sm sm:leading-6"
            >
              <option>Owner</option>
              <option>Tenant</option>
              <option>Prospective buyer</option>
            </select>
          </div>
        </div>
        <div class="col-span-5">
          <div class="mt-6 flex items-center justify-end gap-x-6">
            <button
              routerLink="/dashboard/features/create-conflict-case/section-one"
              type="button"
              class="text-sm font-semibold leading-6 text-yellow-600"
            >
              Previous
            </button>
            <button
              type="submit"
              class="rounded-sm w-40 bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
