<div class="w-full grid grid-flow-row grid-cols-5">
  <section class="col-span-3 flex flex-col items-center">
    <div class="w-3/4 p-5">
      <h1 class="text-3xl font-bold">Search Land Records</h1>
      <p class="text-slate-500 text-sm py-1 mb-6">
        Use the filter below to find land records
      </p>

      <div class="col-span-full mt-4">
        <label
          for="street-address"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Owner Name</label
        >
        <div class="mt-2">
          <input
            type="text"
            name="ownerName"
            id="ownerName"
            autocomplete="ownerName"
            class="px-3 block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div class="col-span-full mt-4">
        <label
          for="street-address"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Parcel ID</label
        >
        <div class="mt-2">
          <input
            type="text"
            name="ownerName"
            id="ownerName"
            autocomplete="ownerName"
            class="px-3 block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div class="col-span-full mt-4">
        <label
          for="street-address"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Title number</label
        >
        <div class="mt-2">
          <input
            type="text"
            name="ownerName"
            id="ownerName"
            autocomplete="ownerName"
            class="px-3 block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div class="col-span-full mt-4">
        <label
          for="street-address"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Location</label
        >
        <div class="mt-2">
          <input
            type="text"
            name="ownerName"
            id="ownerName"
            autocomplete="ownerName"
            class="px-3 block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
          />
        </div>
      </div>
      <div class="col-span-full mt-4">
        <button
          class="bg-green-500/90 w-full rounded-lg py-2.5 font-semibold text-white"
        >
          Search
        </button>
      </div>
    </div>
  </section>
  <section class="col-span-2 px-10 py-5 flex flex-col overflow-y-auto">
    <h3 class="font-bold text-lg py-5">Recent Searches</h3>
    <p class="text-gray-600">3 Records</p>
    <div class="flex flex-row my-4 component-transition">
      <button
        class="mx-2 bg-gray-200 rounded-xl px-1.5 w-10 h-10 inline-flex justify-center items-center"
      >
        <span class="material-symbols-outlined"> home_pin </span>
      </button>
      <span class="flex flex-col text-sm text-slate-600">
        <h3 class="font-semibold">Dorothy Zvaendwa</h3>
        <p>Title Number: <span class="font-semibold">20943444445</span></p>
        <p>
          Location:
          <span class="font-semibold">801 New Prospect , Waterfalls</span>
        </p>
      </span>
      <span class="material-symbols-outlined ml-10 text-red-600"> delete </span>
    </div>
    <div class="flex flex-row my-4 component-transition">
      <button
        class="mx-2 bg-gray-200 rounded-xl px-1.5 w-10 h-10 inline-flex justify-center items-center"
      >
        <span class="material-symbols-outlined"> home_pin </span>
      </button>
      <span class="flex flex-col text-sm text-slate-600">
        <h3 class="font-semibold">Dorothy Zvaendwa</h3>
        <p>Title Number: <span class="font-semibold">20943444445</span></p>
        <p>
          Location:
          <span class="font-semibold">801 New Prospect , Waterfalls</span>
        </p>
      </span>
      <span class="material-symbols-outlined ml-10 text-red-600"> delete </span>
    </div>
    <div class="flex flex-row my-4 component-transition">
      <button
        class="mx-2 bg-gray-200 rounded-xl px-1.5 w-10 h-10 inline-flex justify-center items-center"
      >
        <span class="material-symbols-outlined"> home_pin </span>
      </button>
      <span class="flex flex-col text-sm text-slate-600">
        <h3 class="font-semibold">Dorothy Zvaendwa</h3>
        <p>Title Number: <span class="font-semibold">20943444445</span></p>
        <p>
          Location:
          <span class="font-semibold">801 New Prospect , Waterfalls</span>
        </p>
      </span>
      <span class="material-symbols-outlined ml-10 text-red-600"> delete </span>
    </div>
    <div class="flex flex-row my-4 component-transition">
      <button
        class="mx-2 bg-gray-200 rounded-xl px-1.5 w-10 h-10 inline-flex justify-center items-center"
      >
        <span class="material-symbols-outlined"> home_pin </span>
      </button>
      <span class="flex flex-col text-sm text-slate-600">
        <h3 class="font-semibold">Dorothy Zvaendwa</h3>
        <p>Title Number: <span class="font-semibold">20943444445</span></p>
        <p>
          Location:
          <span class="font-semibold">801 New Prospect , Waterfalls</span>
        </p>
      </span>
      <span class="material-symbols-outlined ml-10 text-red-600"> delete </span>
    </div>
    <div class="flex flex-row my-4 component-transition">
      <button
        class="mx-2 bg-gray-200 rounded-xl px-1.5 w-10 h-10 inline-flex justify-center items-center"
      >
        <span class="material-symbols-outlined"> home_pin </span>
      </button>
      <span class="flex flex-col text-sm text-slate-600">
        <h3 class="font-semibold">Dorothy Zvaendwa</h3>
        <p>Title Number: <span class="font-semibold">20943444445</span></p>
        <p>
          Location:
          <span class="font-semibold">801 New Prospect , Waterfalls</span>
        </p>
      </span>
      <span class="material-symbols-outlined ml-10 text-red-600"> delete </span>
    </div>
    <div class="flex flex-row my-4 component-transition">
      <button
        class="mx-2 bg-gray-200 rounded-xl px-1.5 w-10 h-10 inline-flex justify-center items-center"
      >
        <span class="material-symbols-outlined"> home_pin </span>
      </button>
      <span class="flex flex-col text-sm text-slate-600">
        <h3 class="font-semibold">Dorothy Zvaendwa</h3>
        <p>Title Number: <span class="font-semibold">20943444445</span></p>
        <p>
          Location:
          <span class="font-semibold">801 New Prospect , Waterfalls</span>
        </p>
      </span>
      <span class="material-symbols-outlined ml-10 text-red-600"> delete </span>
    </div>
  </section>
</div>
