<div class="w-full flex flex-row h-screen justify-center">
  <div class="w-3/4">
    <p class="font-semibold text-xl py-5">Notifications >> <span class="text-sm">Property Notifications</span> </p>
    <div class="w-full">
      <table
        mat-table
        [dataSource]="[]"
        class="mat-elevation-z0 w-full border-[1px] border-gray-200 mt-5 mb-20"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="checkbox">
          <mat-header-cell *matHeaderCellDef class="text-sm font-semibold"
            ></mat-header-cell
          >
          <mat-cell *matCellDef="let element" class="text-sm">
            <input type="checkbox">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="request">
          <mat-header-cell *matHeaderCellDef class="text-sm font-semibold">
            Priority
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="text-sm">
            {{ element.transferType }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="property">
          <mat-header-cell *matHeaderCellDef class="text-sm font-semibold"
            >Property</mat-header-cell
          >
          <mat-cell *matCellDef="let element" class="text-sm">
            {{ element.property }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="owner">
          <mat-header-cell *matHeaderCellDef class="text-sm font-semibold"
            >Property Owner</mat-header-cell
          >
          <mat-cell *matCellDef="let element" class="text-sm">
            {{ element.propertyRecepient }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef class="text-sm font-semibold"
            >Submitted On</mat-header-cell
          >
          <mat-cell *matCellDef="let element" class="text-sm">
            {{ element.createdAt | date }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="text-sm font-semibold"
            >Status</mat-header-cell
          >
          <mat-cell *matCellDef="let element" class="text-sm font-medium">
            {{ element.status }}
          </mat-cell>
        </ng-container>
        <mat-header-row
          mat-header-row
          *matHeaderRowDef="deedRequestColumns"
        ></mat-header-row>
        <mat-row
          class="hover:bg-green-400 hover:text-white"
          mat-row
          *matRowDef="let row; columns: deedRequestColumns"
        ></mat-row>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center font-semibold" colspan="6">
            No data matching the filter
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
