<div class="bg-white">
  <div
    class="mx-auto grid items-center gap-x-8 gap-y-16 py-24 max-w-7xl grid-cols-2"
  >
    <div>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Land Document Validation
      </h2>
      <p class="mt-4 text-gray-500">
        Welcome to the Land Document Validation page. Here, you can validate the
        accuracy and legality of your land-related documents through our
        decentralized validation system.
      </p>
      <dl
        class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8"
      >
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">
            <a routerLink="/dashboard/features/verification-validation/deeds" class="hover:text-green-700"> Deed of Title</a>
          </dt>
          <dd class="mt-2 text-sm text-gray-500">
            A deed of title, also known as a property deed, is a legal document
            that transfers ownership of a property from one party to another.
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">
            <a routerLink="/dashboard/features/verification-validation/survey-plan" class="hover:text-green-700"> Survey Plan </a>
          </dt>
          <dd class="mt-2 text-sm text-gray-500">
            A survey plan is a detailed drawing that outlines the boundaries,
            dimensions, and features of a property.
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">
            <a routerLink="/dashboard/features/verification-validation/tax-assessment" class="hover:text-green-700">Property Tax Assessment</a>
          </dt>
          <dd class="mt-2 text-sm text-gray-500">
            A property tax assessment is an official document issued by the
            local government that determines the value of a property for tax
            purposes.
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">
            <a routerLink="/dashboard/features/verification-validation/identifications" class="hover:text-green-700">
              Identification Document (e.g., ID Card, Passport, Marriage
              Certificate)
            </a>
          </dt>
          <dd class="mt-2 text-sm text-gray-500">
            Identification documents such as ID cards, passports, or marriage
            certificates are used to verify the identity of individuals involved
            in land transactions.
          </dd>
        </div>
        <!-- <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Includes</dt>
          <dd class="mt-2 text-sm text-gray-500">
            Wood card tray and 3 refill packs
          </dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Considerations</dt>
          <dd class="mt-2 text-sm text-gray-500">
            Made from natural materials. Grain and color vary with each item.
          </dd>
        </div> -->
      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      <img
        src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-01.jpg"
        alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
        class="rounded-lg bg-gray-100"
      />
      <img
        src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-02.jpg"
        alt="Top down view of walnut card tray with embedded magnets and card groove."
        class="rounded-lg bg-gray-100"
      />
      <img
        src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-03.jpg"
        alt="Side of walnut card tray with card groove and recessed card area."
        class="rounded-lg bg-gray-100"
      />
      <img
        src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-04.jpg"
        alt="Walnut card tray filled with cards and card angled in dedicated groove."
        class="rounded-lg bg-gray-100"
      />
    </div>
  </div>
</div>
