<div class="w-full">
  <div class="w-full flex flex-row justify-center mt-20">
    <div class="w-2/4 text-black text-center animate-fade-in">
      <p class="text-4xl font-bold mb-10">Unlock Zimbabwe's Land Data</p>
      <p class="text-base py-4 text-center">
        Access verified title deeds and property details. Our decentralized
        registry offers transparency and security. Search with precision using
        advanced filtering options
      </p>
    </div>
  </div>
  <div class="inset-0 flex justify-center items-center w-full mt-10">
    <div class="w-full flex flex-row justify-center">
      <form
        class="grid grid-cols-12 justify-center w-2/4 py-2 shadow-sm"
        #titleDeedSearchForm="ngForm"
        (submit)="handleTitleDeedSearch(titleDeedSearchForm)"
      >
        <input
          #titleDeedSearch="ngModel"
          ngModel
          name="titleDeed"
          type="text"
          class="py-3.5 px-4 border border-gray-300 col-span-11"
          placeholder="Search Property address, city, zip..."
        />
        <button
          type="submit"
          class="col-span-1 flex flex-row justify-center items-center bg-gray-800 p-1 text-gray-400"
        >
          <span class="material-symbols-outlined"> search </span>
        </button>
      </form>
    </div>
  </div>
  <ng-container *ngIf="!isSearched">
    <app-quick-overview
      [selectedOverview]="selectedOverview"
      (handleSelectedOverview)="handleSelectedOverview($event)"
    ></app-quick-overview>
  </ng-container>
  <ng-container *ngIf="isSearched">
    <div class="w-full flex flex-row justify-center  mt-20">
      <div class="w-2/4">


      <div class="min-w-full h-20">
        <div
          class="w-full flex flex-row justify-start gap-x-5 border-[1px] border-gray-300 py-3.5 px-2"
        >
          <span
            >Results (<i><b>{{properties.length}}</b></i
            >)</span
          >
          <!-- <span
            class="p-0 cursor-pointer text-base text-center font-semibold"
            (click)="setSelectedSearchedDeedTab('title')"
            [class]="
              selectedSearchedDeedTab === 'title' ? 'search-deed-tabs' : ''
            "
          >
            Title Deeds
          </span>
          <span
            (click)="setSelectedSearchedDeedTab('owner')"
            class="p-0 cursor-pointer text-base text-center font-semibold"
            [class]="
              selectedSearchedDeedTab === 'owner' ? 'search-deed-tabs' : ''
            "
          >
            Ownership</span
          >
          <span
            (click)="setSelectedSearchedDeedTab('request')"
            class="p-0 cursor-pointer text-base text-center font-semibold"
            [class]="
              selectedSearchedDeedTab === 'request' ? 'search-deed-tabs' : ''
            "
          >
            Request Deed</span
          > -->
        </div>
      </div>
      <ng-container *ngIf="selectedSearchedDeedTab === 'title'">
        <app-title-deed
          *ngFor="let titleDeed of properties"
          [title]="titleDeed.streetAddress"
          [propertyType]="titleDeed.propertyOwnershipType"
          [city]="titleDeed.city"
          [ownershipType]="titleDeed.propertyOwnershipType"
          [registeredOn]="titleDeed.createdAt"
          [buildingType]="titleDeed.buildingType"
          [useDescription]="titleDeed.useDescription"
        ></app-title-deed>

        <div class="flex flex-row justify-between items-center w-full my-20">
          <p class="text-sm text-gray-700">
            Showing
            <span class="font-medium">1</span>
            to
            <span class="font-medium">10</span>
            of
            <span class="font-medium">97</span>
            results
          </p>
          <div>
            <nav
              class="isolate inline-flex -space-x-px rounded-md shadow-sm"
              aria-label="Pagination"
            >
              <a
                href="#"
                class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              >
                <span class="sr-only">Previous</span>
                <svg
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>

              <a
                href="#"
                aria-current="page"
                class="relative z-10 inline-flex items-center bg-black px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                >1</a
              >
              <a
                href="#"
                class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                >2</a
              >
              <a
                href="#"
                class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex"
                >3</a
              >
              <span
                class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0"
                >...</span
              >
              <a
                href="#"
                class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex"
                >8</a
              >
              <a
                href="#"
                class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                >9</a
              >
              <a
                href="#"
                class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                >10</a
              >
              <a
                href="#"
                class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              >
                <span class="sr-only">Next</span>
                <svg
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </nav>
          </div>
        </div>
      </ng-container>
      <div class="w-3/4" *ngIf="selectedSearchedDeedTab === 'owner'">
        <app-owner-profile></app-owner-profile>
      </div>
      <div class="w-3/4" *ngIf="selectedSearchedDeedTab === 'request'">
        <app-request-deed></app-request-deed>
      </div>
    </div>
     </div>
  </ng-container>
</div>
