<div class="pb-10">
  <div class="px-4 sm:px-0">
    <h3 class="text-base font-semibold leading-7 text-gray-900">
      Review & Submit
    </h3>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
      Personal details and application.
    </p>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          <p class="text-lg font-semibold">Case Information</p>
          <p class="font-semibold">Case ID</p>
          <p class="font-semibold">Case Title</p>
          <p class="font-semibold">Case Description</p>
          <p class="font-semibold">Dispute Type</p>
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <p>.</p>
          <p>{{ transactionInformation$.transaction }}</p>
          <p>{{ transactionInformation$.transferType }}</p>
          <p>{{ transactionInformation$.ownedSince }}</p>
          <p>{{ transactionInformation$.legalDescription }}</p>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm leading-6 text-gray-900">
          <p class="text-lg font-semibold">Parties Involved</p>
          <p class="font-semibold">First Party</p>
          <p class="font-semibold">Second Party</p>
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <p>.</p>
          <p>{{ transactionInformation$.propertyRecepient }}</p>
          <p>{{ transactionInformation$.email }}</p>
          <p>{{ transactionInformation$.telephone }}</p>
          <p>{{ transactionInformation$.message }}</p>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          <p class="text-lg font-semibold">Evidence</p>
          <p class="font-semibold">Property Deed</p>
          <p class="font-semibold">Purchase Agreement</p>
          <p class="font-semibold">Survey Maps</p>
          <p class="font-semibold">Additional Notes & Description</p>
        </dt>
        <dd
          class="mt-1 p text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
        >
          <p class="">.</p>
          <div class="flex flex-row py-1">
            <div class="flex w-0 flex-1 items-center">
              <svg
                class="h-5 w-5 flex-shrink-0 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                  clip-rule="evenodd"
                />
              </svg>
              <div class="ml-4 flex min-w-0 flex-1 gap-2">
                <span class="truncate font-medium">identification.pdf</span>
                <span class="flex-shrink-0 text-gray-400">2.4mb</span>
              </div>
            </div>
            <div class="ml-4 flex-shrink-0">
              <a
                href="#"
                class="font-medium text-indigo-600 hover:text-indigo-500"
                >Download</a
              >
            </div>
          </div>
          <div class="flex flex-row py-1">
            <div class="flex w-0 flex-1 items-center">
              <svg
                class="h-5 w-5 flex-shrink-0 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                  clip-rule="evenodd"
                />
              </svg>
              <div class="ml-4 flex min-w-0 flex-1 gap-2">
                <span class="truncate font-medium">identification.pdf</span>
                <span class="flex-shrink-0 text-gray-400">2.4mb</span>
              </div>
            </div>
            <div class="ml-4 flex-shrink-0">
              <a
                href="#"
                class="font-medium text-indigo-600 hover:text-indigo-500"
                >Download</a
              >
            </div>
          </div>
          <div class="flex flex-row py-1">
            <div class="flex w-0 flex-1 items-center">
              <svg
                class="h-5 w-5 flex-shrink-0 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                  clip-rule="evenodd"
                />
              </svg>
              <div class="ml-4 flex min-w-0 flex-1 gap-2">
                <span class="truncate font-medium">identification.pdf</span>
                <span class="flex-shrink-0 text-gray-400">2.4mb</span>
              </div>
            </div>
            <div class="ml-4 flex-shrink-0">
              <a
                href="#"
                class="font-medium text-indigo-600 hover:text-indigo-500"
                >Download</a
              >
            </div>
          </div>
          <p class="">{{ transactionInformation$.additionalNotes }} .</p>
        </dd>
      </div>
    </dl>
  </div>
  <div class="col-span-5">
    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button
        routerLink="/dashboard/features/transfer-property/additional-notes"
        type="button"
        class="text-sm font-semibold leading-6 text-yellow-600"
      >
        Previous
      </button>
      <button
        type="button"
        class="text-sm font-semibold leading-6 text-green-600 bg-green-100 px-6 py-1.5 rounded-sm"
      >
        Submit
      </button>
    </div>
  </div>
</div>
