<div class="w-full h-screen pb-20 section-element">
  <div
    class="font-medium text-lg italic flex flex-row justify-between bg-gray-800 text-white px-10 py-5"
  >
    <div class="flex flex-row items-center gap-x-3">
      <span class="material-symbols-outlined"> text_snippet </span> Process
      Payment
      <span class="font-semibold text-lg"></span>
    </div>
  </div>
  <div class="mat-typography section-element px-10">
    <div class="flex flex-col mt-4">
      <div class="flex flex-col mt-5">
        <p class="font-semibold italic text-lg">Price</p>
        <span><b>Property Address</b>: [Property Address] </span
        ><span><b>Property ID</b>: [Property ID]</span
        ><span><b>Transaction Type</b>: [Buy/Sell]</span>
      </div>
      <div class="flex flex-col mt-4">
        <p class="font-semibold text-lg italic">Parties Involved</p>
        <span><b>Seller </b>: [Seller's Name/Entity] </span
        ><span><b>Buyer </b>: [Buyer's Name/Entity]</span>
      </div>
      <div class="flex flex-col mt-5">
        <p class="font-semibold text-lg italic">Transaction Details</p>
        <span><b>Transaction Date</b> : [Transaction Date]</span
        ><span><b>Purchase Price </b>: [Purchase Price]</span>
        <span><b>Currency </b> : [Currency]</span>
        <span><b>Agreed Financing Terms </b> : [Description]</span>
      </div>
      <div class="my-6 flex items-center justify-end gap-x-12">
        <button
          mat-dialog-close="true"
          type="button"
          class="text-sm font-semibold leading-6 text-yellow-600"
        >
          Close
        </button>
        <button
          mat-dialog-close="true"
          type="button"
          class="text-sm font-semibold leading-6 text-white bg-gray-800 px-12 py-1 rounded-sm"
        >
          Process payment
        </button>
      </div>
    </div>
  </div>
</div>
