<div class="w-full flex flex-col">
  <div class="w-full p-2 my-5">
    <div
      class="w-3/4 border-2 border-gray-100 flex flex-row justify-between px-10 py-3 mb-5"
    >
      <span>
        <p class="text-base font-semibold leading-7 text-gray-900">
          Registered Properies
        </p>
        <p class="font-normal text-sm">Common tasks at your fingertips</p>
      </span>
      <span>
        <button
          routerLink="/dashboard/features/transfer-property"
          class="font-semibold text-sm bg-blue-500 py-1 px-2 text-white transition-transform transform hover:scale-105"
        >
          Transfer Property
        </button>
      </span>
    </div>
    <div
      class="w-3/4 border-2 border-gray-100 flex flex-row justify-between px-10 py-3 mb-5"
    >
      <span>
        <p class="text-base font-semibold leading-7 text-gray-900">
          Register New Land
        </p>
        <p class="font-normal text-sm">Effortlessly register new land</p>
      </span>
      <span>
        <button
          routerLink="/dashboard/features/register-property"
          class="font-semibold text-sm bg-blue-500 py-1 px-2 text-white transition-transform transform hover:scale-105"
        >
          Register New Land
        </button>
      </span>
    </div>
    <div
      class="w-3/4 border-2 border-gray-100 flex flex-row justify-between px-10 py-3 mb-5"
    >
      <span>
        <p class="text-base font-semibold leading-7 text-gray-900">
          Create Transaction
        </p>
        <p class="font-normal text-sm">Transact Land easly</p>
      </span>
      <span>
        <button
          routerLink="/dashboard/features/transactions"
          class="font-semibold text-sm bg-blue-500 py-1 px-2 text-white transition-transform transform hover:scale-105"
        >
          Create Transaction
        </button>
      </span>
    </div>
  </div>
</div>
