<div class="w-full">
  <div class="border-b border-gray-900/10 pb-12">
    <p class="text-base font-semibold leading-7 text-gray-900">
      Property Features
    </p>
    <p class="mt-1 text-sm leading-6 text-gray-900 italic">
      * Building type (if applicable: house, apartment, office building, etc.) <br> Year built Number of bedrooms, bathrooms,  and other rooms<br> Amenities (swimming pool, garden, garage, etc.) Condition of the property.
    </p>

  <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 mb-20">
    <div class="sm:col-span-3">
      <label
        for="country"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Building type
        <span class="text-xs font-normal italic"
          >*(if applicable: house, apartment, office building, etc.)</span
        ></label
      >
      <div class="mt-2">
        <select
          id="country"
          name="country"
          autocomplete="country-name"
          class="block w-full rounded-sm border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
        >
          <option>House</option>
          <option>Apartment</option>
          <option>Office building</option>
        </select>
      </div>
    </div>

    <div class="sm:col-span-2">
      <label
        for="email"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Year built</label
      >
      <div class="mt-2">
        <input
          id="email"
          name="email"
          type="date"
          autocomplete="email"
          class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>

    <div class="sm:col-span-3">
      <label
        for="email"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Number of rooms <span class="text-xs font-normal italic"
          >*(Number of bedrooms, bathrooms, and other rooms)</span
        ></label
      >
      <div class="mt-2">
        <input
          id="email"
          name="email"
          type="email"
          autocomplete="email"
          class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>
    <div class="sm:col-span-3">
      <label
        for="email"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Amenities
        <span class="text-xs font-normal italic"
          >*(swimming pool, garden, garage, etc.)</span
        ></label
      >
      <div class="mt-2">
        <input
          id="email"
          name="email"
          type="email"
          autocomplete="email"
          class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>
    <div class="col-span-5">
      <label
        for="street-address"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Condition of the property
        <span class="text-xs font-normal italic"
          >*(the overall state or quality of the property, including its
          interior, exterior, and structural components)</span
        ></label
      >
      <div class="mt-2">
        <input
          type="text"
          name="street-address"
          id="street-address"
          autocomplete="street-address"
          class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>
    <div class="col-span-5">
      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button
         routerLink="/dashboard/features/register-property/ownership-details"
          type="button"
          class="text-sm font-semibold leading-6 text-yellow-600"
        >
          Previous
        </button>
        <button
          routerLink="/dashboard/features/register-property/legal-regulatory"
          class="rounded-sm w-40 bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900"
        >
          Next
        </button>
      </div>
    </div>
  </div>
  </div>
</div>
<!--
<div>
  Building type (if applicable: house, apartment, office building, etc.) Year
  built Number of bedrooms, bathrooms, and other rooms Amenities (swimming pool,
  garden, garage, etc.) Condition of the property
</div> -->
