<div
  class="w-full shadow-md p-2 shadow-gray-100 my-4 border-gray border-2 bg-gray-100"
>
  <div class="font-semibold hover:underline hover:cursor-pointer">
    {{ title }}

    <svg
      viewBox="0 0 2 2"
      class="mx-2 inline h-0.5 w-0.5 fill-current"
      aria-hidden="true"
    >
      <circle cx="1" cy="1" r="1" />
    </svg>
    {{ city }}
    <svg
      viewBox="0 0 2 2"
      class="mx-2 inline h-0.5 w-0.5 fill-current"
      aria-hidden="true"
    >
      <circle cx="1" cy="1" r="1" />
    </svg>

    <span class="font-normal"> {{ useDescription }}</span>
  </div>
  <div class="">
    <div class="text-sm py-1">
      <b>Type of ownership</b> :
      <span class="font-medium">{{ propertyType }}</span>
    </div>
    <div class="flex flex-row">
      <div class="inline-flex items-center text-sm py-1">
        <p class="text-gray-600 text-sm flex flex-row items-center">
          <span class="material-symbols-outlined text-green-700">
            verified
          </span>
          <svg
            viewBox="0 0 2 2"
            class="mx-2 inline h-0.5 w-0.5 fill-current"
            aria-hidden="true"
          >
            <circle cx="1" cy="1" r="1" />
          </svg>
          <b>Registered on</b> : {{ registeredOn | date }}

          <svg
            viewBox="0 0 2 2"
            class="mx-2 inline h-0.5 w-0.5 fill-current"
            aria-hidden="true"
          >
            <circle cx="1" cy="1" r="1" />
          </svg>
          <b>Building type</b> : {{ buildingType }}
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-end w-full">
    <button
       (click)="handleTitleDeedRequest($event)"
      class="text-white font-semibold bg-gray-900 px-4 py-1 ring-1 ring-gray-200 transition-transform transform hover:scale-105 "
    >
      Request Title Deed
    </button>
  </div>
</div>
