<div class="pb-10">
  <div class="px-4 sm:px-0">
    <h3 class="text-base font-semibold leading-7 text-gray-900">
      Review & Submit
    </h3>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
      Personal details and application.
    </p>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          <p class="text-lg font-semibold">Property Information</p>
          <p class="font-semibold">Property ID</p>
          <p class="font-semibold">Type of Transfer</p>
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <p>.</p>
          <p>{{ transactionInformation$.property }}</p>
          <p>{{ transactionInformation$.transferType }}</p>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm leading-6 text-gray-900">
          <p class="text-lg font-semibold">Transaction Terms</p>
          <p class="font-semibold">Asking Price</p>
          <p class="font-semibold">Payment Methods</p>
          <p class="font-semibold">Source of Funding</p>
          <p class="font-semibold">Payment Starting Date</p>
          <p class="font-semibold">Payment Ending Date</p>
          <p class="font-semibold">Down Payment</p>
          <p class="font-semibold">Monthly Payment</p>
          <p class="font-semibold">Additional Financing Terms</p>
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <p>.</p>
          <p>{{ transactionInformation$.askingPrice }}</p>
          <p>{{ transactionInformation$.paymentMethod }}</p>
          <p>{{ transactionInformation$.fundingSource }}</p>
          <p>{{ transactionInformation$.startingDate }}</p>
          <p>{{ transactionInformation$.endDate }}</p>
          <p>{{ transactionInformation$.downPayment }}</p>
          <p>{{ transactionInformation$.monthlyPayment }}</p>
          <p>{{ transactionInformation$.financingTerms }}</p>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          <p class="text-lg font-semibold">Buyer Information</p>
          <p class="font-semibold">Buyer's Account ID/Username</p>
          <p class="font-semibold">Selected Request ID</p>
        </dt>
        <dd
          class="mt-1 p text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
        >
          <p class="">.</p>
          <p class="">{{ transactionInformation$.buyerID }}</p>
          <p class="">{{ transactionInformation$.propertyRequest }}</p>
        </dd>
      </div>
    </dl>
  </div>
  <div class="col-span-5">
    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button
        routerLink="/dashboard/features/transactions/buyer-information"
        type="button"
        class="text-sm font-semibold leading-6 text-yellow-600"
      >
        Previous
      </button>
      <button
        (click)="createTransaction()"
        type="button"
        class="text-sm font-semibold leading-6 text-white bg-gray-900 px-12 py-1 rounded-sm"
      >
        Submit
      </button>
    </div>
  </div>
</div>
