<div class="w-full container px-2 min-h-screen bg-white">
  <div
    class="w-full h-16 border-b-[1.5px] border-slate-200 flex flex-row justify-between items-center container px-14 transition-opacity duration-300 ease-in-out opacity-75"
  >
    <div class="flex flex-shrink-0 items-center font-bold text-lg">
      <img
        class="h-8 w-auto mr-2"
        src="./../../../assets/goat-of-arms.jpeg"
        alt="Your Company"
      />
      Zimbabwe Land Registry
    </div>
    <div class="">
      <div class="flex space-x-4">
        <a
          href="#"
          class="bg-gray-200 hover:bg-gray-300 text-black font-bold py-2 px-4 rounded-xl"
          >Need Help?</a
        >
      </div>
    </div>
  </div>
  <div class="w-full flex flex-col justify-center items-center">
    <div class="w-2/6 flex flex-col mt-14">
      <h1 class="font-semibold mb-4 text-2xl">Welcome back</h1>
      <p class="text-gray-600 mb-4">Sign in to your account to continue</p>
    </div>
    <div class="mt-4 w-2/6">
      <form class="space-y-6">
        <div>
          <label for="email" class="block font-semibold leading-6 text-gray-600"
            >Email address</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              placeholder="Username"
              required
              class="px-2.5 block w-full rounded-xl border-0 py-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400"
            />
          </div>
        </div>
        <div>
          <label
            for="password"
            class="block font-semibold leading-6 text-gray-600"
            >Password</label
          >
          <div class="mt-2">
            <input
              id="password"
              name="password"
              type="password"
              required
              placeholder="Password"
              class="px-2.5 block w-full rounded-xl border-0 py-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400"
            />
          </div>
        </div>
        <div class="mb-4 flex items-center">
          <input
            id="comments"
            name="comments"
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-gray-600 focus:ring-gray-600 mr-4"
          />
          <label for="remember" class="text-gray-600"
            >Remember this account</label
          >
        </div>
        <div class="flex flex-row justify-end">
          <a
            href="#"
            class="bg-gray-200 hover:bg-gray-300 text-black font-semibold py-2 px-4 rounded-xl"
            >Forgot your username?</a
          >
          <button
            routerLink="/dashboard"
            class="mx-2 rounded-xl w-24 bg-green-600 px-3.5 py-3 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600"
          >
            Next
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
