<div class="isolate w-full min-h-screen bg-white">
  <div class="flex min-h-full flex-col justify-center px-3 py-8 lg:px-8 w-full">
    <div class="w-full flex flex-row justify-center">
      <div class="w-2/4 flex flex-row justify-center">
        <div
          class="flex flex-wrap items-center gap-x-4 gap-y-2 font-bold text-lg py-5"
        >
          <img
            routerLink="/landing-page"
            class="h-16 w-auto rounded-full cursor-pointer"
            src="./../../../assets/coat-of-arms.png"
            alt="Your Company"
          />
          Zimbabwe Decentralised Land Registry
        </div>
      </div>
    </div>
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >
        Sign in to your account.
      </h2>
      <p class="font-normal text-sm text-center">
        Welcome to the Decentralized Land Registry System! Empowering secure and
        transparent property records
      </p>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <div
        class="w-full bg-red-100 h-10 rounded-sm mb-3 inline-flex px-2 py-1.5"
        *ngIf="errorMessage"
      >
        <span class="material-symbols-outlined text-red-600"> cancel </span>
        <p class="font-semibold px-1.5 text-red-700">
          {{ errorMessage }}
        </p>
      </div>
      <form
        class="space-y-6"
        #loginForm="ngForm"
        (submit)="handleUserLogin(loginForm)"
      >
        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Email address</label
          >
          <div class="mt-2">
            <input
              ngModel
              #email="ngModel"
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              placeholder="Enter Your Username"
              required
              class="block w-full rounded-sm border-0 px-2.5 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-400 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label
              for="password"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Password</label
            >
            <div class="text-sm">
              <a
                routerLink="/change-password"
                class="font-semibold text-blue-600 hover:text-blue-500"
                >Forgot password?</a
              >
            </div>
          </div>
          <div class="mt-2">
            <input
              ngModel
              #password="ngModel"
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              placeholder="Enter Your Password"
              required
              class="block w-full rounded-sm border-0 py-2.5 text-gray-900 px-2.5 shadow-sm ring-[0.5px] ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-400 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="flex w-full justify-center bg-green-600 rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-500 transition-transform transform hover:scale-105"
          >
            Sign in
          </button>
        </div>
      </form>

      <p class="mt-10 text-center text-sm text-gray-500">
        Don't have an account?
        <a
          href="/get-started"
          class="font-semibold leading-6 text-blue-600 hover:text-blue-500"
          >Register account</a
        >
      </p>
      <div class="mt-5 w-full inline-flex justify-center font-semibold">Or</div>
      <div class="mt-5 w-full inline-flex justify-center">
        <div
          (click)="handleGoogleAuth()"
          class="w-full border-2 border-gray-200 justify-center py-2 rounded-md font-bold inline-flex items-center hover:bg-gray-300 cursor-pointer transition-transform transform hover:scale-105"
        >
          <img
            class="h-5 w-5 mr-2"
            src="./../../../assets/google logo.png"
            alt="Your Company"
          />
          Continue with Google
        </div>
      </div>
    </div>
  </div>
  <div
    class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-slate-500 to-slate-800 opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>
</div>
<footer class="isolate bg-gray-900 text-white">
  <div class="container mx-auto px-10 w-3/4">
    <div class="grid grid-cols-4 grid-flow-col gap-2 py-10">
      <section class="flex flex-col col-span-1 p-4">
        <p class="text-xl mb-4 font-semibold">Learn About Us</p>
        <ul>
          <li>What is decentralised Land registry?</li>
          <li>What is BlockChain Technology</li>
          <li>What is Smart Contracts</li>
          <li>What is Title Deed, and Types of Title Deeds</li>
          <li>What are Land parcel?</li>
          <li>What's New</li>
          <li>Blog</li>
        </ul>
      </section>
      <section class="flex flex-col col-span-1 p-4">
        <p class="text-xl mb-4 font-semibold">Navigation</p>
        <ul class="">
          <li>
            <a href="/landing-page" class="hover:text-green-700"> Home </a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>FAQs</li>
          <li>Contact Us</li>
          <li>Terms of Service</li>
          <li>Privacy</li>
          <li>Policy</li>
        </ul>
      </section>
      <section class="flex flex-col col-span-1 p-4">
        <p class="text-xl mb-4 font-semibold">Documentation</p>
        <ul class="">
          <li>Overview of the Platform</li>
          <li>User Manuals</li>
          <li>Training</li>
          <li>Legal Guidelines</li>
          <li>Compliance Requirements</li>
          <li>Laws and Regulations</li>
        </ul>
      </section>
      <section class="flex flex-col col-span-1 p-4">
        <p class="text-xl mb-4 font-semibold">Help & Support</p>
        <ul class="">
          <li>Understanding Property Boundaries</li>
          <li>Land Parcel Identification</li>
          <li>Ownership Verification Process</li>
          <li>Land Use Restrictions</li>
          <li>Land Valuation Guidelines</li>
          <li>Environmental Regulations</li>
          <li>Dispute Resolution Procedures</li>
          <li>Data Security Measures</li>
        </ul>
      </section>
    </div>
  </div>
  <div class="bg-white w-full flex flex-row justify-center">
    <p class="my-4 text-base font-normal w-3/4 text-black px-12">
      <a href="#" class="mx-1">Privacy</a> |
      <a href="#" class="mx-1">Site Terms</a> | © 2024 Zimbabwe Decentralised
      Land Registry, Inc. All rights reserved.
    </p>
  </div>
</footer>
