<div class="pb-10 relative">
  <div
   *ngIf="message.status"
    class="absolute top-0 left-52 w-2/4 h-16 font-medium p-2 text-green-700 bg-green-100 inline-flex animate-fade-in"
  >

    <img
      class="h-5 w-auto mr-2"
      src="./../../../assets/green tick.png"
      alt="Green Tick"
    />
    <!-- {{ message.msg }} walter -->
    {{message.msg}}
  </div>
  <div class="px-4 sm:px-0">
    <h3 class="text-base font-semibold leading-7 text-gray-900">
      Review & Submit
    </h3>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
      Personal details and application.
    </p>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          <p class="text-lg font-semibold">Basic Information</p>
          <p class="font-semibold">Street Address</p>
          <p class="font-semibold">City, Zip Code</p>
          <p class="font-semibold">Longitude, Latitude</p>
          <p class="font-semibold">Property Type</p>
          <p class="font-semibold">Land Size</p>
          <p class="font-semibold">Legal Description</p>
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <p>.</p>
          <p>{{ propertyInformation$.streetAddress }}</p>
          <p>
            {{ propertyInformation$.city }}, {{ propertyInformation$.zipCode }}
          </p>
          <p>
            {{ propertyInformation$.longitude }},
            {{ propertyInformation$.latitude }}
          </p>
          <p>{{ propertyInformation$.landSize }}</p>
          <p>{{ propertyInformation$.propertyType }}</p>
          <p>{{ propertyInformation$.legalDescription }}</p>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm leading-6 text-gray-900">
          <p class="text-lg font-semibold">Ownerships</p>
          <p class="font-semibold">Property Ownership</p>
          <p class="font-semibold">Identification</p>
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <p>.</p>
          <p>{{ propertyInformation$.propertyOwnershipType }}</p>
          <div class="flex flex-row">
            <div class="flex w-0 flex-1 items-center">
              <svg
                class="h-5 w-5 flex-shrink-0 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                  clip-rule="evenodd"
                />
              </svg>
              <div class="ml-4 flex min-w-0 flex-1 gap-2">
                <span class="truncate font-medium">identification.pdf</span>
                <span class="flex-shrink-0 text-gray-400">2.4mb</span>
              </div>
            </div>
            <div class="ml-4 flex-shrink-0">
              <a href="#" class="font-medium text-blue-600 hover:text-blue-500"
                >Download</a
              >
            </div>
          </div>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          <p class="text-lg font-semibold">Property Features</p>
          <p class="font-semibold">Building Type</p>
          <p class="font-semibold">Year Built</p>
          <p class="font-semibold">Number of rooms</p>
          <p class="font-semibold">Amenities</p>
          <p class="font-semibold">Conditions on the property</p>
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <p>.</p>
          <p>{{ propertyInformation$.buildingType }}</p>
          <p>{{ propertyInformation$.yearBuilt }}</p>
          <p>{{ propertyInformation$.rooms }}</p>
          <p>{{ propertyInformation$.amenities }}</p>
          <p>{{ propertyInformation$.propertyCondition }}</p>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          <p class="text-lg font-semibold">Legal And Regulatory Information</p>
          <p class="font-semibold">Property Use</p>
          <p class="font-semibold">Brief Description on use</p>
          <p class="font-semibold">Property Tax Details</p>
          <p class="font-semibold">Liens or Encumbrances on Property</p>
          <p class="font-semibold">Brief Description on Liens</p>
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <p>.</p>
          <p>{{ propertyInformation$.propertyUse }}</p>
          <p>{{ propertyInformation$.useDescription }}</p>
          <div class="flex flex-row">
            <div class="flex w-0 flex-1 items-center">
              <svg
                class="h-5 w-5 flex-shrink-0 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                  clip-rule="evenodd"
                />
              </svg>
              <div class="ml-4 flex min-w-0 flex-1 gap-2">
                <span class="truncate font-medium">tax_details.pdf</span>
                <span class="flex-shrink-0 text-gray-400">2.4mb</span>
              </div>
            </div>
            <div class="ml-4 flex-shrink-0">
              <a href="#" class="font-medium text-blue-600 hover:text-blue-500"
                >Download</a
              >
            </div>
          </div>
          <p>{{ propertyInformation$.encumbrances }}</p>
          <p>{{ propertyInformation$.encumbrancesDescription }}</p>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          <p class="text-lg font-semibold">Additional Documentation</p>
          <p class="font-semibold">Property Exterior</p>
          <p class="font-semibold">Property Interior</p>
          <p class="font-semibold">Survey Plan</p>
        </dt>
        <dd
          class="mt-1 p text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
        >
          <p class="">.</p>
          <div class="flex flex-row py-1">
            <div class="flex w-0 flex-1 items-center">
              <svg
                class="h-5 w-5 flex-shrink-0 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                  clip-rule="evenodd"
                />
              </svg>
              <div class="ml-4 flex min-w-0 flex-1 gap-2">
                <span class="truncate font-medium">property_exterior.pdf</span>
                <span class="flex-shrink-0 text-gray-400">2.4mb</span>
              </div>
            </div>
            <div class="ml-4 flex-shrink-0">
              <a href="#" class="font-medium text-blue-600 hover:text-blue-500"
                >Download</a
              >
            </div>
          </div>
          <div class="flex flex-row py-1">
            <div class="flex w-0 flex-1 items-center">
              <svg
                class="h-5 w-5 flex-shrink-0 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                  clip-rule="evenodd"
                />
              </svg>
              <div class="ml-4 flex min-w-0 flex-1 gap-2">
                <span class="truncate font-medium">property_interior.pdf</span>
                <span class="flex-shrink-0 text-gray-400">2.4mb</span>
              </div>
            </div>
            <div class="ml-4 flex-shrink-0">
              <a href="#" class="font-medium text-blue-600 hover:text-blue-500"
                >Download</a
              >
            </div>
          </div>
          <div class="flex flex-row py-1">
            <div class="flex w-0 flex-1 items-center">
              <svg
                class="h-5 w-5 flex-shrink-0 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                  clip-rule="evenodd"
                />
              </svg>
              <div class="ml-4 flex min-w-0 flex-1 gap-2">
                <span class="truncate font-medium">survey_plan.pdf</span>
                <span class="flex-shrink-0 text-gray-400">2.4mb</span>
              </div>
            </div>
            <div class="ml-4 flex-shrink-0">
              <a href="#" class="font-medium text-blue-600 hover:text-blue-500"
                >Download</a
              >
            </div>
          </div>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          <p class="text-lg font-semibold">Purchase Price</p>
          <p class="font-semibold">Date of Purchase</p>
          <p class="font-semibold">Property Market Value</p>
          <p class="font-semibold">Affidavit of Payment</p>
        </dt>
        <dd class="mt-1 text-sm leading-6 text-slate-700 sm:col-span-2 sm:mt-0">
          <p>.</p>
          <p>{{ propertyInformation$.purchasedOn }}</p>
          <p>$ {{ propertyInformation$.marketValue | currency }}</p>
          <div class="flex flex-row">
            <div class="flex w-0 flex-1 items-center">
              <svg
                class="h-5 w-5 flex-shrink-0 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                  clip-rule="evenodd"
                />
              </svg>
              <div class="ml-4 flex min-w-0 flex-1 gap-2">
                <span class="truncate font-medium"
                  >resume_back_end_developer.pdf</span
                >
                <span class="flex-shrink-0 text-gray-400">2.4mb</span>
              </div>
            </div>
            <div class="ml-4 flex-shrink-0">
              <a href="#" class="font-medium text-blue-600 hover:text-blue-500"
                >Download</a
              >
            </div>
          </div>
        </dd>
      </div>
    </dl>
  </div>
  <div class="col-span-5">
    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button
        routerLink="/dashboard/features/register-property/purchase-price"
        type="button"
        class="text-sm font-semibold leading-6 text-yellow-600"
      >
        Previous
      </button>
      <button
        (click)="registerProperty()"
        type="button"
        class="text-sm font-semibold leading-6 text-white bg-blue-700 px-10 py-1"
      >
        Submit
      </button>
    </div>
  </div>
</div>
