<div class="w-full">
  <div class="border-b border-gray-900/10 pb-12">
    <p class="text-base font-semibold leading-7 text-gray-900">
      Transaction Terms
    </p>
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 mb-20">
      <div class="sm:col-span-3">
        <label
          for="country"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Payment Method
          <span class="text-xs font-normal italic"
            >*(Select the payment method to be used)</span
          ></label
        >
        <div class="mt-2">
          <select
            id="country"
            name="country"
            autocomplete="country-name"
            class="block w-full rounded-sm border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
          >
            <option>Nostro (USD)</option>
            <option>ZWL</option>
            <option>Other</option>
            <option>Ecocash(USD)</option>
            <option>Ecocash(ZWL)</option>
            <option>Cash</option>
            <option>Cryto-currency(Ether)</option>
          </select>
        </div>
      </div>
      <div class="sm:col-span-3">
        <label
          for="country"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Source Of Funding
          <span class="text-xs font-normal italic"
            >*(Select the source of funding)</span
          ></label
        >
        <div class="mt-2">
          <select
            id="country"
            name="country"
            autocomplete="country-name"
            class="block w-full rounded-sm border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
          >
            <option>Personal Funds</option>
            <option>Retirement Funds</option>
            <option>Mortgage</option>
            <option>Cash</option>
            <option>Investments</option>
            <option>Installments Sale</option>
            <option>Lease-to-buy</option>
            <option>Personal loan</option>
            <option>Crowdfunding</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<p>transaction-terms works!</p>
