<div class="w-full">
  <form #formTwo="ngForm" (ngSubmit)="handleFormTwo(formTwo)">
    <div class="border-b border-gray-900/10 pb-12">
      <p class="text-base font-semibold leading-7 text-gray-900">
        Transaction Terms
      </p>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 mb-20">
        <div class="col-span-4">
          <label
            for="askingPrice"
            class="block text-sm font-medium leading-6 text-gray-900"
          >
            Asking Price
          </label>
          <div class="mt-2">
            <input
              #askingPrice="ngModel"
              ngModel
              type="text"
              name="askingPrice"
              id="askingPrice"
              class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:col-span-3">
          <label
            for="country"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Payment Method
            <span class="text-xs font-normal italic"
              >*(Select the payment method to be used)</span
            ></label
          >
          <div class="mt-2">
            <select
              id="paymentMethod"
              name="paymentMethod"
              #paymentMethod="ngModel"
              ngModel
              class="block w-full rounded-sm border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
            >
              <option>Nostro (USD)</option>
              <option>ZWL</option>
              <option>Other</option>
              <option>Ecocash(USD)</option>
              <option>Ecocash(ZWL)</option>
              <option>Cash</option>
              <option>Cryto-currency(Ether)</option>
            </select>
          </div>
        </div>
        <div class="sm:col-span-3">
          <label
            for="fundingSource"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Source Of Funding
            <span class="text-xs font-normal italic"
              >*(Select the source of funding)</span
            ></label
          >
          <div class="mt-2">
            <select
              id="fundingSource"
              name="fundingSource"
              ngModel
              #fundingSource="ngModel"
              class="block w-full rounded-sm border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
            >
              <option>Personal Funds</option>
              <option>Retirement Funds</option>
              <option>Mortgage</option>
              <option>Cash</option>
              <option>Investments</option>
              <option>Installments Sale</option>
              <option>Lease-to-buy</option>
              <option>Personal loan</option>
              <option>Crowdfunding</option>
            </select>
          </div>
        </div>

        <div class="col-span-full">
          <p class="text-base font-semibold leading-7 text-gray-900">
            Payment Schedule/Term
          </p>
          <span class="text-xs font-normal italic">
            *Time to be taken to pay for the property
          </span>
        </div>

        <div class="col-span-2">
          <label
            for="startingDate"
            class="block text-sm font-medium leading-6 text-gray-900"
          >
            Starting Date
          </label>
          <div class="mt-2">
            <input
              type="date"
              name="startingDate"
              id="startingDate"
              #startingDate="ngModel"
              ngModel
              class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="col-span-2">
          <label
            for="endDate"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Ending Date</label
          >
          <div class="mt-2">
            <input
              type="date"
              name="endDate"
              id="endDate"
              ngModel
              #endDate="ngModel"
              class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div class="col-span-full">
          <p class="text-base font-semibold leading-7 text-gray-900">
            Financing Details
          </p>
        </div>

        <div class="col-span-3">
          <label
            for="downPayment"
            class="block text-sm font-medium leading-6 text-gray-900"
          >
            Down Payment
            <span class="text-xs font-normal italic">
              *(Initial amount paid by the buyer towards purchase)
            </span>
          </label>
          <div class="mt-2">
            <input
              type="text"
              name="downPayment"
              id="downPayment"
              #downPayment="ngModel"
              ngModel
              class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="col-span-3">
          <label
            for="monthlyPayment"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Monthly Payment
            <span>*(Monthly payment be paid)</span>
          </label>
          <div class="mt-2">
            <input
              type="text"
              name="monthlyPayment"
              id="monthlyPayment"
              #monthlyPayment="ngModel"
              ngModel
              class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div class="col-span-5">
          <label
            for="financingTerms"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Additional Financing Terms
            <span class="text-xs font-normal italic"
              >*(Any other terms or conditions related to this financing
              arragement)</span
            >
          </label>
          <div class="mt-2">
            <textarea
              id="financingTerms"
              name="financingTerms"
              rows="3"
              ngModel
              #financingTerms="ngModel"
              class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            ></textarea>
          </div>
        </div>
        <div class="col-span-5">
          <div class="mt-6 flex items-center justify-end gap-x-6">
            <button
              routerLink="/dashboard/features/transactions/property-details"
              type="button"
              class="text-sm font-semibold leading-6 text-yellow-600"
            >
              Previous
            </button>
            <button
              type="submit"
              class="rounded-sm w-40 bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
