<div class="w-full flex flex-col">
  <div class="w-full grid grid-cols-3 gap-3 p-2 my-5">
    <section class="col-span-1 flex flex-row justify-center">
      <div class="w-3/4 border-2 border-gray-200 text-center py-2">
        <p class="font-medium">Registered Properies</p>
        <p class="text-lg font-semibold">10</p>
      </div>
    </section>
    <section class="col-span-1 flex flex-row justify-center">
      <div class="w-3/4 border-2 border-gray-200 text-center py-2">
        <p class="font-medium">Valuation of Properties/Assets</p>
        <p class="text-lg font-semibold">$ 249, 0000 USD</p>
      </div>
    </section>
    <section class="col-span-1 flex flex-row justify-center">
      <div class="w-3/4 border-2 border-gray-200 text-center py-2">
        <p class="font-medium">Total Area/Size of Properties/Assets</p>
        <p class="text-lg font-semibold">10 ,000 m²</p>
      </div>
    </section>
  </div>
  <p class="text-base font-semibold leading-7 text-gray-900">
    Recent Property Activities
  </p>
  
</div>
