<div class="flex flex-col h-screen relative">
  <div
    class="w-full flex flex-row justify-end px-2 py-3 items-center border-b-[1.5px] border-gray-200 sticky top-0 header backdrop-blur-md z-50"
  >
    <form class="mx-4">
      <label class="relative block">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          <!-- Magnifier icon SVG -->
          <svg
            class="h-5 w-5 fill-slate-500 font-semibold"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 30 30"
          >
            <path
              d="M13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"
            ></path>
          </svg>
        </span>
        <input
          class="w-full bg-gray-100 rounded-xl py-1.5 pl-10 pr-4 focus:outline-none"
          placeholder="Search"
          type="text"
        />
      </label>
    </form>

    <button
     routerLink="/register-property"
      class="mx-2 rounded-xl bg-green-500/90 px-3.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-400"
    >
      Register Property
    </button>

    <button
      class="mx-2 bg-gray-200 rounded-xl px-1.5 w-8 h-8 inline-flex justify-center items-center"
    >
      <span class="material-symbols-outlined"> help </span>
    </button>
    <button
      class="mx-2 bg-gray-200 rounded-xl px-1.5 w-8 h-8 inline-flex justify-center items-center"
    >
      <span class="material-symbols-outlined"> circle_notifications </span>
    </button>
    <div class="mx-4">
      <button
        type="button"
        class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
        id="user-menu-button"
        aria-expanded="false"
        aria-haspopup="true"
      >
        <span class="absolute -inset-1.5"></span>
        <span class="sr-only">Open user menu</span>
        <img
          class="h-10 w-10 rounded-full"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt=""
        />
      </button>
    </div>
  </div>
  <main class="flex flex-row w-full justify-center h">
    <!-- <div class="w-full grid grid-flow-row grid-cols-5">
      <section class="col-span-3 flex flex-col items-center">
        <div class="w-3/4 p-5">
          <h1 class="text-3xl font-bold">Search Land Records</h1>
          <p class="text-slate-500 text-sm py-1 mb-6">
            Use the filter below to find land records
          </p>


          <div class="col-span-full mt-4">
            <label
              for="street-address"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Owner Name</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="ownerName"
                id="ownerName"
                autocomplete="ownerName"
                class="px-3 block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400  sm:text-sm sm:leading-6"
              />
            </div>
          </div>


          <div class="col-span-full mt-4">
            <label
              for="street-address"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Parcel ID</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="ownerName"
                id="ownerName"
                autocomplete="ownerName"
                class="px-3 block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400  sm:text-sm sm:leading-6"
              />
            </div>
          </div>

          <div class="col-span-full mt-4">
            <label
              for="street-address"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Title number</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="ownerName"
                id="ownerName"
                autocomplete="ownerName"
                class="px-3 block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400  sm:text-sm sm:leading-6"
              />
            </div>
          </div>


          <div class="col-span-full mt-4">
            <label
              for="street-address"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Location</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="ownerName"
                id="ownerName"
                autocomplete="ownerName"
                class="px-3 block w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400  sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="col-span-full mt-4">
            <button
              class="bg-green-500/90 w-full rounded-lg py-2.5 font-semibold text-white"
            >
              Search
            </button>
          </div>
        </div>
      </section>
      <section class="col-span-2 px-10 py-5 flex flex-col overflow-y-auto">
        <h3 class="font-bold text-lg py-5">Recent Searches</h3>
        <p class="text-gray-600">3 Records</p>
        <div class="flex flex-row my-4 component-transition">
          <button
            class="mx-2 bg-gray-200 rounded-xl px-1.5 w-10 h-10 inline-flex justify-center items-center"
          >
            <span class="material-symbols-outlined"> home_pin </span>
          </button>
          <span class="flex flex-col text-sm text-slate-600">
            <h3 class="font-semibold">Dorothy Zvaendwa</h3>
            <p>Title Number: <span class="font-semibold">20943444445</span></p>
            <p>
              Location:
              <span class="font-semibold">801 New Prospect , Waterfalls</span>
            </p>
          </span>
          <span class="material-symbols-outlined ml-10 text-red-600">
            delete
          </span>
        </div>
        <div class="flex flex-row my-4 component-transition">
          <button
            class="mx-2 bg-gray-200 rounded-xl px-1.5 w-10 h-10 inline-flex justify-center items-center"
          >
            <span class="material-symbols-outlined"> home_pin </span>
          </button>
          <span class="flex flex-col text-sm text-slate-600">
            <h3 class="font-semibold">Dorothy Zvaendwa</h3>
            <p>Title Number: <span class="font-semibold">20943444445</span></p>
            <p>
              Location:
              <span class="font-semibold">801 New Prospect , Waterfalls</span>
            </p>
          </span>
          <span class="material-symbols-outlined ml-10 text-red-600">
            delete
          </span>
        </div>
        <div class="flex flex-row my-4 component-transition">
          <button
            class="mx-2 bg-gray-200 rounded-xl px-1.5 w-10 h-10 inline-flex justify-center items-center"
          >
            <span class="material-symbols-outlined"> home_pin </span>
          </button>
          <span class="flex flex-col text-sm text-slate-600">
            <h3 class="font-semibold">Dorothy Zvaendwa</h3>
            <p>Title Number: <span class="font-semibold">20943444445</span></p>
            <p>
              Location:
              <span class="font-semibold">801 New Prospect , Waterfalls</span>
            </p>
          </span>
          <span class="material-symbols-outlined ml-10 text-red-600">
            delete
          </span>
        </div>
        <div class="flex flex-row my-4 component-transition">
          <button
            class="mx-2 bg-gray-200 rounded-xl px-1.5 w-10 h-10 inline-flex justify-center items-center"
          >
            <span class="material-symbols-outlined"> home_pin </span>
          </button>
          <span class="flex flex-col text-sm text-slate-600">
            <h3 class="font-semibold">Dorothy Zvaendwa</h3>
            <p>Title Number: <span class="font-semibold">20943444445</span></p>
            <p>
              Location:
              <span class="font-semibold">801 New Prospect , Waterfalls</span>
            </p>
          </span>
          <span class="material-symbols-outlined ml-10 text-red-600">
            delete
          </span>
        </div>
        <div class="flex flex-row my-4 component-transition">
          <button
            class="mx-2 bg-gray-200 rounded-xl px-1.5 w-10 h-10 inline-flex justify-center items-center"
          >
            <span class="material-symbols-outlined"> home_pin </span>
          </button>
          <span class="flex flex-col text-sm text-slate-600">
            <h3 class="font-semibold">Dorothy Zvaendwa</h3>
            <p>Title Number: <span class="font-semibold">20943444445</span></p>
            <p>
              Location:
              <span class="font-semibold">801 New Prospect , Waterfalls</span>
            </p>
          </span>
          <span class="material-symbols-outlined ml-10 text-red-600">
            delete
          </span>
        </div>
        <div class="flex flex-row my-4 component-transition">
          <button
            class="mx-2 bg-gray-200 rounded-xl px-1.5 w-10 h-10 inline-flex justify-center items-center"
          >
            <span class="material-symbols-outlined"> home_pin </span>
          </button>
          <span class="flex flex-col text-sm text-slate-600">
            <h3 class="font-semibold">Dorothy Zvaendwa</h3>
            <p>Title Number: <span class="font-semibold">20943444445</span></p>
            <p>
              Location:
              <span class="font-semibold">801 New Prospect , Waterfalls</span>
            </p>
          </span>
          <span class="material-symbols-outlined ml-10 text-red-600">
            delete
          </span>
        </div>
      </section>
    </div> -->
  </main>
</div>
