<div class="w-full flex flex-row fixed h-screen justify-center">
  <div class="w-3/4 grid grid-flow-col grid-cols-12 gap-5">
    <section class="col-span-9 overflow-y-auto section-element">
      <ng-container *ngIf="!isSearching">
        <form
          #advancedSearchForm="ngForm"
          (submit)="handleAdvancedSearch(advancedSearchForm)"
        >
          <div class="w-full mb-20 relative">
            <div
              class="inline-flex w-full items-center sticky top-0 bg-white backdrop-blur-sm py-5"
            >
              <span class="font-semibold text-gray-900">Features</span>
              <span class="material-symbols-outlined"> navigate_next </span>
              <span class="text-gray-700 font-semibold">Advanced Search</span>
            </div>
            <p class="font-semibold text-lg">Search Land Records</p>

            <div
              class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 mb-20"
            >
              <div class="col-span-4">
                <label
                  for="last-name"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Account ID Or Username
                  <span class="text-xs font-normal italic"
                    >*(Account name that owns the property)</span
                  >
                </label>
                <div class="mt-2">
                  <input
                    type="text"
                    name="last-name"
                    id="last-name"
                    autocomplete="family-name"
                    class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>

              <div class="col-span-4">
                <label
                  for="last-name"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Parcel ID
                  <span class="text-xs font-normal italic"
                    >*(Provide parcel ID of the land/property)</span
                  >
                </label>
                <div class="mt-2">
                  <input
                    type="text"
                    name="last-name"
                    id="last-name"
                    autocomplete="family-name"
                    class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <div class="col-span-4">
                <label
                  for="last-name"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Title ID
                  <span class="text-xs font-normal italic"
                    >*(Title deed id)</span
                  >
                </label>
                <div class="mt-2">
                  <input
                    type="text"
                    name="last-name"
                    id="last-name"
                    autocomplete="family-name"
                    class="block w-full rounded-sm px-3 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <div class="sm:col-span-3">
                <label
                  for="country"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Location
                  <span class="text-xs font-normal italic"
                    >*(Select the location)</span
                  ></label
                >
                <div class="mt-2">
                  <select
                    id="country"
                    name="country"
                    autocomplete="country-name"
                    class="block w-full rounded-sm border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                  >
                    <option>Marondera</option>
                    <option>Harare</option>
                    <option>Chipinge</option>
                    <option>Gokwe</option>
                  </select>
                </div>
              </div>

              <div class="col-span-5">
                <div class="mt-6 flex items-center justify-start gap-x-6">
                  <button
                    class="rounded-sm w-3/4 bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-container>
    </section>
    <section class="col-span-3 h-screen">
      <div class="w-full flex flex-col">
        <p class="font-semibold text-lg">Recent Searches</p>
        <div class="w-full flex flex-col">
          <app-recent-searched-title (openOnMap)="handleDisplayOnMap('18')"></app-recent-searched-title>
        </div>
      </div>
    </section>
  </div>
</div>
