<div class="w-full">
  <div class="border-b border-gray-900/10 pb-12">
    <p class="text-base font-semibold leading-7 text-gray-900">
      Arbitrator Selection
    </p>
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="col-span-4">
        <label
          for="street-address"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Selection of Arbitrators
          <span class="text-xs font-normal italic">
            *(Select arbitrators from a list of available options )
          </span></label
        >
        <div class="mt-2">
          <select
            id="country"
            name="country"
            autocomplete="country-name"
            class="block w-full rounded-sm border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
          >
            <option>Arbitration Centre of Zimbabwe (ACZ)</option>
            <option>Commercial Arbitration Centre Zimbabwe (CACZ)</option>
            <option>Alternative Dispute Solutions Centre (ADSC)</option>
            <option>Africa Institute of Mediation and Arbitration (AIMA) </option>
          </select>
        </div>
      </div>
      <div class="col-span-4">
        <label
          for="street-address"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Selection of Arbitrators
          <span class="text-xs font-normal italic">
            *(Select arbitrators from a list of available options )
          </span></label
        >
        <div class="mt-2">
          <select
            id="country"
            name="country"
            autocomplete="country-name"
            class="block w-full rounded-sm border-0 py-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
          >
            <option>Expertise in Property Law</option>
            <option>Experience in Arbitration</option>
            <option>Impartiality and Neutrality</option>

          </select>
        </div>
      </div>

      <div class="col-span-5">
        <div class="mt-6 flex items-center justify-end gap-x-6">
          <button
            routerLink="/dashboard/features/create-conflict-case/section-one"
            type="button"
            class="text-sm font-semibold leading-6 text-yellow-600"
          >
            Previous
          </button>
          <button
            routerLink="/dashboard/features/create-conflict-case/section-five"
            class="rounded-sm w-40 bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

