/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.component-transition {
  @apply transition-transform transform hover:scale-105 cursor-pointer text-sm;
}

.menu-element {
  @apply w-full inline-flex flex-row justify-start px-2.5 text-base font-medium my-1.5 rounded-lg  py-2 cursor-pointer;
}

.active {
  @apply border-b-4 border-black cursor-pointer;
}

.search-deed-tabs{
  @apply border-b-4 border-black;
}


.mat-dialog-container {
    box-shadow: none;
    background: #fff;
    color: rgba(0, 0, 0, .87);
    border-radius: 0px;
}


/* .custom-scrollbar::-webkit-scrollbar {
  background: transparent;
  width: 4px;

}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color:black;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
