/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.component-transition {
  @apply transition-transform transform hover:scale-105 cursor-pointer;
}

.menu-element {
  @apply w-full inline-flex flex-row justify-start px-2.5 text-base font-medium my-1.5 rounded-lg  py-2 cursor-pointer;
}

.active {
  @apply border-b-4 border-black;
}

.search-deed-tabs{
  @apply border-b-4 border-black;
}

.custom-scrollbar::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 4px;/* Set the desired width (adjust as needed) */

}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color:black; /* Set your preferred color */
}
