<div class="isolate relative">
  <div class="relative isolate">
    <header class="text-black shadow-sm">
      <!-- <header class="bg-gray-900 text-black shadow-sm"> -->
      <nav
        class="mx-auto flex max-w-7xl items-center justify-between p-3 backdrop-blur-sm z-50"
        aria-label="Global"
      >
        <div class="flex flex-1 flex-shrink-0 items-center font-bold text-lg">
          <a href="#" class="-m-1.5 p-1.5 inline-flex items-center">
            <img
              class="h-8 w-auto mr-2"
              src="./../../../assets/coat-of-arms.png"
              alt=""
            />
            Zimbabwe Land Registry
          </a>
        </div>
        <div class="flex lg:hidden">
          <button
            type="button"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-900 font-semibold"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a
            routerLink="/dashboard/overview"
            [routerLinkActive]="'active'"
            class="text-black hover:text-black/50 px-3 py-2 text-base font-medium cursor-pointer"
            >Dashboard</a
          >
          <button
            [matMenuTriggerFor]="actions"
            class="menu-container text-black font-medium px-3 cursor-pointer inline-flex items-center gap-x-1 leading-6 relative hover:active"
          >
            <span class="text-base font-medium cursor-pointer"
              >Quick Action</span
            >
            <svg
              class="h-5 w-5 mt-1"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          <mat-menu #actions="matMenu">
            <app-menu-panel></app-menu-panel>
          </mat-menu>
          <a
            routerLink="/dashboard/contracts"
            [routerLinkActive]="'active'"
            class="text-black hover:text-black/50 px-3 py-2 text-base font-medium cursor-pointer"
            >Blockchain Insights</a
          >
          <a
            routerLink="/dashboard/properties"
            [routerLinkActive]="'active'"
            class="text-black hover:text-black/50 px-3 py-2 text-base font-medium cursor-pointer"
            >Properties</a
          >
        </div>

        <div
          class="inset-y-0 right-0 flex flex-1 justify-end pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
        >
          <button
            routerLink="/dashboard/notifications"
            matBadge="{{ 0 }}"
            matBadgeColor="warn"
            type="button"
            class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
          >
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">View notifications</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"
              />
            </svg>
          </button>

          <div class="relative ml-3">
            <button
              [matMenuTriggerFor]="menu"
              class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              id="user-menu-button"
            >
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <!-- <img
                *ngIf="photoURL"
                class="h-8 w-8 rounded-full"
                src="{{ photoURL  }}"
                alt=""
              /> -->

              <div
                class="avatar"
                [style.background-color]="getColor(user?.firstName)"
              >
                {{ getInitials(user?.firstName) }}
              </div>
            </button>

            <mat-menu
              #menu="matMenu"
              class="absolute z-10 inset-auto mt-2 w-48 origin-top-left py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none font-semibold"
            >
              <button
                mat-menu-item
                (click)="handleLogout()"
                class="block px-4 py-2 text-sm text-gray-900 font-semibold"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-2"
              >
                Sign out
              </button>
              <a
                mat-menu-item
                (click)="handleDisplayingProfile()"
                class="block px-4 py-2 text-sm text-gray-900 font-semibold"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-0"
                >Your Profile</a
              >
              <a
                mat-menu-item
                class="block px-4 py-2 text-sm text-gray-900 font-semibold"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-1"
                >Settings</a
              >
              <a
                mat-menu-item
                href="#"
                class="block px-4 py-2 text-sm text-gray-900 font-semibold"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-1"
                >Help Center</a
              >
            </mat-menu>
          </div>
        </div>
      </nav>
    </header>
    <main class="flex flex-col w-full mix-blend-screen p-0">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<!-- <footer class="bg-gray-900 text-black mb-5">
  <div class="bg-white w-full flex flex-row justify-center text-sm mt-4">
    <p class="font-normal w-3/4 text-black/80 px-12">
      <a href="#" class="mx-1">Privacy</a> |
      <a href="#" class="mx-1">Site Terms</a> | © 2024 Zimbabwe Decentralised
      Land Registry, Inc. All rights reserved.
    </p>
  </div>
</footer> -->
