<div class="container flex flex-row w-full pl-10 pr-2 h-screen">
  <aside
    class="text-black h-screen w-1/4 p-4 flex flex-col justify-between border-r-[1.5px] border-gray-200"
  >
    <nav class="mt-4">
      <div class="flex flex-shrink-0 flex-col px-2">
        <p class="text-lg font-medium">Walter Banda</p>
        <p class="text-gray-600">walterbanda.eth</p>
      </div>
      <ul class="my-4 flex flex-col px-2">
        <li
          class="menu-element"
          [routerLinkActive]="'active'"
          routerLink="/dashboard/dash-main"
        >
          <a>Dashboard</a>
        </li>
        <li
          class="menu-element"
          routerLink="/dashboard/transactions"
          [routerLinkActive]="'active'"
        >
          <a>Transactions</a>
        </li>
        <li
          class="menu-element"
          routerLink="/dashboard/assets"
          [routerLinkActive]="'active'"
        >
          <a>Assets</a>
        </li>
        <li
          class="menu-element"
          routerLink="/dashboard/marketplace"
          [routerLinkActive]="'active'"
        >
          <a>Marketplace</a>
        </li>
        <li
          class="menu-element"
          [routerLinkActive]="'active'"
          routerLink="/dashboard/profile"
        >
          <a>Profile</a>
        </li>
      </ul>
    </nav>
    <div class="h-1/5 px-2">
      <a class="font-medium px-2.5 text-gray-600" routerLink="/landing-page"
        >Logout</a
      >
    </div>
  </aside>
  <main
    class="flex flex-col overflow-y-auto transform-gpu w-full custom-scrollbar"
  >
    <router-outlet></router-outlet>
  </main>
</div>
<!-- Sidebar -->
