<div class="w-full flex flex-row fixed h-screen justify-center">
  <div class="w-4/5 grid grid-flow-col grid-cols-12 gap-x-10">
    <section class="col-span-9 overflow-y-auto section-element">
      <div class="inline-flex justify-center mt-5">
        <span class="font-semibold">
          <a href="/dashboard/properties">Properties</a></span
        >
        <span class="material-symbols-outlined"> navigate_next </span>
        <span class="text-gray-700 font-semibold">View Property</span>
      </div>
      <div class="flex flex-row justify-between px-3">
        <span class="flex flex-col py-5 text-lg font-medium">
          <p class="">14138 Bahama Cove</p>
          <p>Del Mar, CA 92014</p>

          <span class="mt-4 font-bold text-gray-900 italic text-base hover:">
            <section class="flex flex-row items-center">
              <span class="material-symbols-outlined"> signpost </span>Explore
              Neighborhood
            </section>
          </span>
        </span>
        <span class="py-5 text-lg font-medium">
          <p>Est. Mortgage: Amount</p>
          <p class="text-4xl text-green-600 italic">$ 25,467,900</p>
          <p>Registered 17 years ago</p>
        </span>
      </div>
      <div
        class="flex flex-row justify-between mt-10 border-b-2 border-gray-300 py-4"
      >
        <span class="flex flex-col text-center">
          <p class="font-semibold text-4xl">4</p>
          <p class="font-medium">Beds</p>
        </span>
        <span class="flex flex-col text-center">
          <p class="font-semibold text-4xl">3</p>
          <p class="font-medium">Baths</p>
        </span>
        <span class="flex flex-col text-center">
          <p class="font-semibold text-4xl">2,240</p>
          <p class="font-medium">SQR meters</p>
        </span>
        <span class="flex flex-col text-center">
          <p class="font-semibold text-4xl">1970</p>
          <p class="font-medium">Year Built</p>
        </span>
      </div>
      <div class="my-5">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
        dolorum quod officiis. Laudantium, expedita. Perspiciatis, et. Voluptate
        dolore corporis saepe? Eos, velit! Quidem ipsa quisquam dolorem beatae
        veniam repudiandae delectus!
      </div>
    </section>
    <section class="col-span-3 overflow-y-auto section-element pb-20">
      <div class="w-full my-2">
        <p class="font-semibold text-lg">Font View</p>
        <p>
          A glimpse of your property's unique character and style from the
          front, where every detail tells a story.
        </p>
        <div class="aspect-h-4 aspect-w-3 overflow-hidden rounded-lg">
          <img
            src="./../../../assets/house image.webp"
            alt="Two each of gray, white, and black shirts laying flat."
            class="h-full w-full object-cover object-center"
          />
        </div>
      </div>
      <div class="w-full my-2">
        <p class="font-semibold text-lg">Back View</p>
        <p>
          Explore the private retreat nestled behind your property, where
          tranquility meets architectural splendor.
        </p>
        <div class="aspect-h-4 aspect-w-3 overflow-hidden rounded-lg">
          <img
            src="./../../../assets/house image.webp"
            alt="Two each of gray, white, and black shirts laying flat."
            class="h-full w-full object-cover object-center"
          />
        </div>
      </div>
      <div class="w-full my-2">
        <p class="font-semibold text-lg">Aerial View</p>
        <p>
          Unlock a whole new perspective of your property's grandeur, showcasing
          its layout and surroundings from a breathtaking height.
        </p>
        <div class="aspect-h-4 aspect-w-3 overflow-hidden rounded-lg">
          <img
            src="./../../../assets/house image.webp"
            alt="Two each of gray, white, and black shirts laying flat."
            class="h-full w-full object-cover object-center"
          />
        </div>
      </div>
    </section>
  </div>
</div>
